In [53]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

In [54]:
df = pd.read_csv("market_basket.csv")

df.head()

,order,Apple,Bread,Butter,Cheese,Corn,Dill,Eggs,Ice cream,Kidney_Beans,Milk,Nutmeg,Onion,Sugar,Unicorn,Yogurt,Chocolate
0,0,False,True,False,False,True,True,False,True,False,False,False,False,True,False,True,True
1,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
2,2,True,False,True,False,False,True,False,True,False,True,False,False,False,False,True,True
3,3,False,False,True,True,False,True,False,False,False,True,True,True,False,False,False,False
4,4,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [55]:
df = df.drop('order', axis=1)

df.head()

,Apple,Bread,Butter,Cheese,Corn,Dill,Eggs,Ice cream,Kidney_Beans,Milk,Nutmeg,Onion,Sugar,Unicorn,Yogurt,Chocolate
0,False,True,False,False,True,True,False,True,False,False,False,False,True,False,True,True
1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
2,True,False,True,False,False,True,False,True,False,True,False,False,False,False,True,True
3,False,False,True,True,False,True,False,False,False,True,True,True,False,False,False,False
4,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [56]:
frequent_itemsets = apriori(df, min_support=0.2, use_colnames=True)

# Generate association rules
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.5)

In [57]:
# Print the results
print("Frequent Itemsets:")
print(frequent_itemsets)

print("\nAssociation Rules:")
print(rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']])

Frequent Itemsets:
     support                itemsets
0   0.383383                 (Apple)
1   0.384384                 (Bread)
2   0.420420                (Butter)
3   0.404404                (Cheese)
4   0.407407                  (Corn)
5   0.398398                  (Dill)
6   0.384384                  (Eggs)
7   0.410410             (Ice cream)
8   0.408408          (Kidney_Beans)
9   0.405405                  (Milk)
10  0.401401                (Nutmeg)
11  0.403403                 (Onion)
12  0.409409                 (Sugar)
13  0.389389               (Unicorn)
14  0.420420                (Yogurt)
15  0.421421             (Chocolate)
16  0.207207     (Ice cream, Butter)
17  0.202202  (Kidney_Beans, Butter)
18  0.202202     (Chocolate, Butter)
19  0.200200  (Kidney_Beans, Cheese)
20  0.202202  (Chocolate, Ice cream)
21  0.211211       (Chocolate, Milk)

Association Rules:
   antecedents  consequents   support  confidence      lift
0  (Ice cream)     (Butter)  0.207207    0.504878  1.200889
1  (Chocolate)       (Milk)  0.211211    0.501188  1.236263
2       (Milk)  (Chocolate)  0.211211    0.520988  1.236263